<div class="create-view-page p-2">
    <div class="row shadow">
        <div class="col-md-12">
            <h2 id="jhi-claimant-heading" jhiTranslate="gatewayApp.factcheckClaimant.home.createOrEditLabel">Create or edit a Claimant</h2>
        </div>
        <div class="col-12 mt-5">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                <div>
                    <jhi-alert-error></jhi-alert-error>
                    <div class="form-group">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="{{ 'gatewayApp.factcheckClaimant.name' | translate }}"
                                   type="text" name="name" id="field_name"
                                   [(ngModel)]="claimant.name">
                            <mat-error>
                                Name is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                        <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="w-100">
                            <input matInput  placeholder="{{ 'gatewayApp.factcheckClaimant.tagLine' | translate }}"
                                   type="text" name="tagLine" id="field_tagLine"
                                   [(ngModel)]="claimant.tagLine" />
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="w-100">
                            <textarea matInput placeholder="{{ 'gatewayApp.factcheckClaimant.description' | translate }}"
                                      rows="5" type="text" name="description" id="field_description"
                                      [(ngModel)]="claimant.description" ></textarea>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <div class="mb-3"><img src={{claimant.imageURL}} height="100"></div>
                        <button mat-raised-button color="primary"
                            id="field_imageURL" class="jh-create-entity create-media"
                                [routerLink]="['/', { outlets: { popup: 'featured-media/upload'} }]"
                                [queryParams]="{ media_type: 'feature'}"
                                replaceUrl="true" type="button">
                            <fa-icon [icon]="'plus'"></fa-icon>
                            <span class="hidden-sm-down"  jhiTranslate="gatewayApp.coreMedia.home.uploadMediaLabel">
                            Upload Media
                        </span>
                        </button>
                        <div *ngIf="claimant.imageURL">
                            <span [(ngModel)]="claimant.imageURL" name="featuredMedia" ngDefaultControl></span>
                        </div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button mat-raised-button color="warn" class="mr-3"
                        type="button" id="cancel-save"  (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button mat-raised-button
                        type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
