<form [formGroup]="tagFormGroup">
    <div class="row justify-content-center padding-40-0">
        <div class="col-8 padding-20 white-bc box-shadow-2">
            <h2 class="font-sz-20" id="jhi-tag-heading" jhiTranslate="gatewayApp.coreTag.home.createOrEditLabel">
                Create or edit a Tag
            </h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group">
                    <mat-form-field class="full-width">
                        <input type="text" name="name" id="field_name"
                               placeholder="Name"
                               matInput
                               formControlName="name" required/>
                        <mat-error>
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="full-width" hintLabel="Max 400 characters">
                        <textarea matInput type="text" #input
                                  id="field_description"
                                  formControlName="description"
                                  placeholder="Description"
                                  maxlength="400">
                        </textarea>
                        <mat-hint align="end">{{input.value?.length || 0}}/400</mat-hint>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button type="button" mat-button mat-raised-button color="warn"
                        id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="button" mat-button mat-raised-button
                        (click)="save()"
                        id="save-entity" [disabled]="isSaving">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </div>
    </div>
</form>
