<div class="row post-edit-view">
    <div class="col-8 editor-wrap">
        <form [formGroup]="postEditFormGroup" class="form-group">
            <mat-form-field class="example-full-width">
                <input matInput
                       formControlName="title"
                       placeholder="Title of the article">
                <mat-error>
                    Title is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field class="example-full-width">
                <input matInput
                       formControlName="subTitle"
                       placeholder="Subtitle of the article">
                <mat-error>
                    Sub Title is <strong>required</strong>
                </mat-error>
            </mat-form-field>

            <jhi-quill-editor [original_content]="post.content"
                              id="field_content"
                              (updated_content)="updatePostContentFormData($event)">
            </jhi-quill-editor>


            <mat-form-field class="example-full-width">
                <textarea matInput
                          formControlName="excerpt"
                          placeholder="Excerpt">
                </textarea>
            </mat-form-field>

            <div class="container example-full-width">
                <button mat-raised-button type="button" color="primary" (click)="fileInput.click()">Upload</button>
                <input hidden type="file" #fileInput>
                <img src={{post.featuredMedia}} alt="" width="100" height="100">
            </div>

            <div class="example-full-width">
                <mat-checkbox formControlName="featured">
                    Featured
                </mat-checkbox>
                <mat-checkbox formControlName="sticky">
                    Sticky
                </mat-checkbox>
            </div>

            <mat-form-field class="example-full-width">
                <input matInput
                       formControlName="updates"
                       placeholder="Updates">
                <mat-error>
                    Updates is <strong>required</strong>
                </mat-error>
            </mat-form-field>

        </form>
        <div>
            <button type="button" mat-button
                    (click)="previousState()">
                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>
            <button mat-button type="button"
                    (click)="saveOrPublish('Draft')"
                    [disabled]="isSaving"
                    *ngIf="showSave">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span
                jhiTranslate="entity.action.savedraft">Save Draft</span>
            </button>
            <button type="button" mat-button
                    [disabled]="isSaving"
                    *ngIf="showPublish" (click)="saveOrPublish('Publish')">
                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span
                jhiTranslate="entity.action.publish">Publish</span>
            </button>
        </div>
        <form name="editForm" role="form" novalidate (ngSubmit)="saveOrPublish('Draft')" #editForm="ngForm" hidden>
            <h2 id="jhi-post-heading" jhiTranslate="gatewayApp.corePost.home.createOrEditLabel">Create or edit a
                Post</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!post.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="post.id" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.corePost.title"
                           for="field_title">Title</label>
                    <input type="text" class="form-control" name="title" id="field_title"
                           [(ngModel)]="post.title" required/>
                    <div [hidden]="!(editForm.controls.title?.dirty && editForm.controls.title?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.title?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.corePost.subTitle" for="field_subTitle">Sub
                        Title</label>
                    <input type="text" class="form-control" name="subTitle" id="field_subTitle"
                           [(ngModel)]="post.subTitle"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.corePost.content" for="field_content">Content</label>
                    <span class="text-danger" [hidden]="post.content">*</span>
                    <jhi-quill-editor [original_content]="post.content"
                                      id="field_content"
                                      (updated_content)="updatePostContentFormData($event)">
                    </jhi-quill-editor>
                    <div [hidden]="!(editForm.controls.content?.dirty && editForm.controls.content?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.content?.errors?.required"
                               jhiTranslate="entity.validation.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.corePost.excerpt" for="field_excerpt">Excerpt</label>
                    <textarea rows="5" type="text" class="form-control" name="excerpt" id="field_excerpt"
                              [(ngModel)]="post.excerpt"></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.corePost.featured" for="field_featured">Featured</label>
                    <input type="checkbox" class="form-control" name="featured" id="field_featured"
                           [(ngModel)]="post.featured"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.corePost.sticky" for="field_sticky">Sticky</label>
                    <input type="checkbox" class="form-control" name="sticky" id="field_sticky"
                           [(ngModel)]="post.sticky"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.corePost.updates" for="field_updates">Updates</label>
                    <input type="text" class="form-control" name="updates" id="field_updates"
                           [(ngModel)]="post.updates"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.corePost.featuredMedia"
                           for="field_featuredMedia">Featured Media</label>
                    <button id="field_featuredMedia" class="btn btn-primary jh-create-entity create-media"
                            [routerLink]="['/', { outlets: { popup: 'featured-media/upload'} }]"
                            [queryParams]="{ media_type: 'feature'}"
                            replaceUrl="true" type="button">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span class="hidden-sm-down" jhiTranslate="gatewayApp.coreMedia.home.uploadMediaLabel">
                            Upload Media
                        </span>
                    </button>
                    <img src={{post.featuredMedia}} alt="" width="100" height="100">
                    <div *ngIf="post.featuredMedia">
                        <span [(ngModel)]="post.featuredMedia" name="featuredMedia" ngDefaultControl></span>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                        <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving"
                            class="btn btn-primary" *ngIf="showSave">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span
                        jhiTranslate="entity.action.savedraft">Save Draft</span>
                    </button>
                    <button type="button" id="publish-entity" [disabled]="editForm.form.invalid || isSaving"
                            class="btn btn-primary" *ngIf="showPublish" (click)="saveOrPublish('Publish')">
                        <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span
                        jhiTranslate="entity.action.publish">Publish</span>
                    </button>
                </div>
        </form>


    </div>
    <div class="col-4 edit-view-right-pannel">
        <div class="form-group">
            <div class="form-group">
                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Personal data
                            </mat-panel-title>
                            <mat-panel-description>
                                Type your name and age
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <!--<mat-form-field>-->
                            <!--<input placeholder="First name">-->
                        <!--</mat-form-field>-->
                    </mat-expansion-panel>
                </mat-accordion>
                <label jhiTranslate="gatewayApp.corePost.tag" for="field_tag">Tag</label>
                <br>
                <input [(ngModel)]="searchTagKeyword" [ngModelOptions]="{standalone: true}">
                <button type="button" class="btn btn-success" (click)="searchTagCurrentPage=0;searchTags()">
                    Search Tag
                </button>
                <button type="button" class="btn btn-success" (click)="getAllTags()">
                    Reset
                </button>
                <br>
                <jhi-multiple-checkbox id="field_tag"
                                       [option_list]="all_tag_options"
                                       [selected_options]="selected_tag_options"
                                       (updated_selection)="update_tag_selection($event)">
                </jhi-multiple-checkbox>
                <button type="button"
                        class="btn btn-success"
                        (click)="searchTagCurrentPage=searchTagCurrentPage-1;searchTags()"
                        *ngIf="searchTagCurrentPage>0">
                    Previous
                </button>
                <button type="button"
                        class="btn btn-success"
                        (click)="searchTagCurrentPage=searchTagCurrentPage+1;searchTags()"
                        *ngIf="searchTagTotalResult>((searchTagCurrentPage+1)*searchResultPerPage)">
                    Next
                </button>
            </div>
            <div class="form-group">
                <label jhiTranslate="gatewayApp.corePost.category" for="field_category">Category</label>
                <br>
                <input [(ngModel)]="searchCategoryKeyword" [ngModelOptions]="{standalone: true}">
                <button type="button" class="btn btn-success" (click)="searchCategoryCurrentPage=0;searchCategories()">
                    Search Category
                </button>
                <button type="button" class="btn btn-success" (click)="getAllCategories()">
                    Reset
                </button>
                <br>
                <jhi-multiple-checkbox id="field_category"
                                       [option_list]="all_category_options"
                                       [selected_options]="selected_category_options"
                                       (updated_selection)="update_category_selection($event)">
                </jhi-multiple-checkbox>
                <button type="button"
                        class="btn btn-success"
                        (click)="searchCategoryCurrentPage=searchCategoryCurrentPage-1;searchCategories()"
                        *ngIf="searchCategoryCurrentPage>0">
                    Previous
                </button>
                <button type="button"
                        class="btn btn-success"
                        (click)="searchCategoryCurrentPage=searchCategoryCurrentPage+1;searchCategories()"
                        *ngIf="searchCategoryTotalResult>((searchCategoryCurrentPage+1)*searchResultPerPage)">
                    Next
                </button>
            </div>
            <div class="form-group">
                <label class="form-control-label" jhiTranslate="gatewayApp.corePost.format"
                       for="field_format">Format</label>
                <select class="form-control" id="field_format" name="format" [(ngModel)]="post.formatId" required>
                    <option [ngValue]="formatOption.id"
                            *ngFor="let formatOption of formats | orderBy:'name'; trackBy: trackFormatById">
                        {{formatOption.name}}
                    </option>
                </select>
            </div>
            <div [hidden]="!(editForm.controls.format?.dirty && editForm.controls.format?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.format?.errors?.required"
                       jhiTranslate="entity.validation.required">
                    This field is required.
                </small>
            </div>
            <div class="form-group">
                <label jhiTranslate="gatewayApp.corePost.degaUser" for="field_degaUser">Author</label>
                <br>
                <input [(ngModel)]="searchDegaUserKeyword" [ngModelOptions]="{standalone: true}">
                <button type="button" class="btn btn-success" (click)="searchDegaUserCurrentPage=0;searchDegaUsers()">
                    Search DegaUser
                </button>
                <button type="button" class="btn btn-success" (click)="getAllDegaUsers()">
                    Reset
                </button>
                <br>
                <jhi-multiple-checkbox id="field_degaUser"
                                       [option_list]="all_author_options"
                                       [selected_options]="selected_author_options"
                                       (updated_selection)="update_author_selection($event)">

                </jhi-multiple-checkbox>
                <button type="button"
                        class="btn btn-success"
                        (click)="searchDegaUserCurrentPage=searchDegaUserCurrentPage-1;searchDegaUsers()"
                        *ngIf="searchDegaUserCurrentPage>0">
                    Previous
                </button>
                <button type="button"
                        class="btn btn-success"
                        (click)="searchDegaUserCurrentPage=searchDegaUserCurrentPage+1;searchDegaUsers()"
                        *ngIf="searchDegaUserTotalResult>((searchDegaUserCurrentPage+1)*searchResultPerPage)">
                    Next
                </button>
            </div>
        </div>
    </div>
</div>

