<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.corePost.home.title">Posts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-post"
                [routerLink]="['/post/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down" jhiTranslate="gatewayApp.corePost.home.createLabel">
            Create new Post
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch"
                           name="currentSearch" placeholder="{{ 'gatewayApp.corePost.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="list-view" *ngIf="posts">
        <div class="acttion-bar-wrap">
            <div class="sort-button" [ngClass]="{'up': !sortList}">
                <span (click)="toogleSortListDropdown()">Sort By: {{predicate}}, <span *ngIf="reverse">Asc</span><span
                    *ngIf="!reverse">Des</span></span>
                <ul jhiSort [(predicate)]="predicate"
                    [(ascending)]="reverse"
                    [callback]="transition.bind(this)"
                    [hidden]="sortList" (click)="sortList=!sortList">
                    <li jhiSortBy="createdDate"><span *ngIf="reverse">Last</span><span *ngIf="!reverse">First</span>
                        Created
                    </li>
                    <li jhiSortBy="title">Title: <span *ngIf="reverse">A to Z</span><span *ngIf="!reverse">Z to A</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-block-wrap">
            <div class="content-block" *ngFor="let post of posts ;trackBy: trackId">
                <div class="image-wrap" [style.backgroundImage]="'url('+ post.featuredMedia +')'">
                </div>
                <div class="main-content">
                    <div><h2 [routerLink]="['/post', post.id, 'view' ]">{{post.title}}</h2></div>
                    <div><p>{{post.excerpt}}</p></div>
                </div>
                <div class="other-detail">
                    <div class="author-details-wrap">
                        <div class="author-details-text">
                            <p class="created-by"><i>Created By</i></p>
                            <p class="author-name"><span *ngFor="let author of post.degaUsers; index as i">{{author.firstName}} {{i != post.degaUsers.length -1 ?  '| ': ''}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="actions-wrap">
                        <div>
                            <p class="created-at">Apr 21, 2019, 8:14:24 PM</p>
                        </div>
                        <div class="actions">
                            <div><span><fa-icon [icon]="'eye'"
                                                matTooltip="Info about the action"
                                                [matTooltipPosition]="'above'"
                                                [routerLink]="['/post', post.id, 'view' ]"></fa-icon></span></div>
                            <div><span><fa-icon [icon]="'pencil-alt'"
                                                [routerLink]="['/post', post.id, 'edit']"></fa-icon></span></div>
                            <div><span><fa-icon [icon]="'times'"
                                                [routerLink]="['/', { outlets: { popup: 'post/'+ post.id + '/delete'} }]"></fa-icon></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div *ngIf="posts && posts.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5"
                            [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
