$card-height: 200px;
$image-wrap-width: 250px;
$other-detail-width: 250px;
$link-font-color: #4a90e2;
$grey-font-color: #808080;
$black-font-color: #151515;
$sm-font-size: 14px;
$xs-sm-font-size: 12px;
.list-view {
    width: 100%;
    .acttion-bar-wrap {
        display: flex;
        justify-content: flex-end;
        background-color: white;
        padding: 5px;
        margin: 10px 0px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
        .sort-button {
            position: relative;
            margin-right: 70px;
            cursor: pointer;
            &:after {
                position: absolute;
                content: '';
                width: 10px;
                height: 10px;
                border: solid;
                border-width: 2px 2px 0 0;
                border-color: grey;
                top: 4px;
                right: -24px;
                transform: rotate(135deg);
                -webkit-transition: 0.3s; /* Safari */
                transition: 0.3s;
            }
            &.up:after {
                top: 10px;
                transform: rotate(-45deg);
            }
            ul {
                list-style: none;
                position: absolute;
                margin: 0px;
                background: white;
                top: 30px;
                right: -30px;
                font-size: 14px;
                padding: 0px;
                min-width: 160px;
                text-align: left;
                border: 1px solid rgba(0, 0, 0, 0.15);
                -webkit-border-radius: 4px;
                -moz-border-radius: 4px;
                border-radius: 4px;
                -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
                li {
                    padding: 6px 20px;
                    cursor: pointer;
                    &:hover {
                        background: #f5f5f5;
                    }
                }
            }
        }
    }
    .content-block-wrap {
        .content-block {
            background-color: white;
            padding: 5px;
            margin: 10px 0px;
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
            display: flex;
            justify-content: space-between;
            .image-wrap {
                margin-right: 15px;
                max-height: $card-height;
                width: #{$image-wrap-width};
                overflow: hidden;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                img {
                    max-height: 100%;
                }
            }
            .main-content {
                height: 100%;
                width: calc(100% - #{$image-wrap-width + $other-detail-width});
                padding: 10px;
                h2 {
                    line-height: 1.5rem;
                    max-height: 3rem;
                    overflow: hidden;
                    font-size: 22px;
                    font-weight: 500;
                    color: #{$link-font-color};
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                p {
                    max-height: 15rem;
                    line-height: 1.5rem;
                    overflow: hidden;
                }
            }
            .other-detail {
                padding: 10px;
                width: #{$other-detail-width};
                display: flex;
                flex-flow: column;
                justify-content: space-between;
                .author-details-wrap {
                    display: flex;
                    .name-icon {
                        font-size: 30px;
                        height: 50px;
                        width: 50px;
                        background-color: #2121c7;
                        border-radius: 25px;
                        color: white;
                        font-weight: 600;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 15px;
                        p {
                            margin: 0px;
                        }
                    }
                    p {
                        margin-bottom: 5px;
                    }
                    .author-details-text {
                        .created-by {
                            color: #{$grey-font-color};
                            font-size: #{$sm-font-size};
                            margin-bottom: 0px;
                        }
                        .status {
                            color: red;
                            font-weight: 400;
                        }
                        .author-name {
                            color: #{$black-font-color};
                        }
                    }
                }
                .actions-wrap {
                    .created-at {
                        font-size: #{$xs-sm-font-size};
                    }
                    .actions {
                        display: flex;
                        > div {
                            padding: 5px 12px;
                        }
                    }
                }
            }
        }
    }
}

.post-edit-view {
    position: relative;
    .sub-header {
        left: -17px;
        height: 50px;
        overflow: hidden;
        padding: 5px 15px;
        background: white;
        position: absolute;
        width: calc(100% + 17px);
        display: flex;
        flex-flow: row-reverse;
        border: solid 1px #d4d4d4;
        border-width: 1px 0;
    }
    .editor-wrap {
        top: 50px;
        position: relative;
        height: calc(100vh - 117px);
        overflow: scroll;
        margin-left: -15px;
        background: white;
        padding: 50px;
        width: calc(100% - 295px);
        box-shadow: 0 2px 2px #f3f3f3, 0 0 2px rgba(0, 0, 0, 0.12);
        .title-input {
            font-size: 24px;
        }
        .quill-editor-wrapper {
            box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
            margin-top: 20px;
            jhi-quill-editor {
                quill-editor {
                    .ql-toolbar {
                        border: 0px;
                    }
                    .ql-container {
                        border: 0px;
                        padding: 10px;
                    }
                }
            }
        }
    }
    .edit-view-right-pannel {
        position: fixed;
        top: 113px;
        right: 0px;
        width: 33%;
        max-width: 300px;
        background: white;
        height: calc(100vh - 105px);
        overflow-y: scroll;
        padding: 10px 7px;
        mat-expansion-panel {
            mat-form-field {
                width: 140px;
            }
            .full-width {
                width: 100%;
            }
        }
        .featured-img {
            height: 100px;
            img {
                max-width: 100%;
            }
        }
    }
}

// Remove this after ng-bootstrap is removed
input.ng-invalid:not(form) {
    border-left: 0px solid #42a948; /* green */
}
