<div class="detail-view-page">
    <div class="row justify-content-center">
        <div class="col-12">
            <div *ngIf="organization">
                <h2>
                    <span jhiTranslate="gatewayApp.coreOrganization.detail.title">Organization</span>
                </h2>
                <jhi-alert-error></jhi-alert-error>
                <div class="table-wrap">
                    <table class="row-md jh-entity-details">
                        <tbody>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.name">Name</span>
                                </td>
                                <td>
                                    <span>{{organization.name}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.phone">Phone</span>
                                </td>
                                <td>
                                    <span>{{organization.phone}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.siteTitle">Site Title</span>
                                </td>
                                <td>
                                    <span>{{organization.siteTitle}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.tagLine">Tag Line</span>
                                </td>
                                <td>
                                    <span>{{organization.tagLine}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.description">Description</span>
                                </td>
                                <td>
                                    <span>{{organization.description}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.logoURL">Logo</span>
                                </td>
                                <td>
                                    <span *ngIf="organization.mediaLogo">
                                        <img
                                            src={{organization.mediaLogo.sourceURL}}
                                            alt
                                            witrh="100"
                                            height="100"
                                        >
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.logoURLMobile">Mobile Logo</span>
                                </td>
                                <td>
                                    <span *ngIf="organization.mediaMobileLogo">
                                        <img
                                            src={{organization.mediaMobileLogo.sourceURL}}
                                            alt
                                            witrh="100"
                                            height="100"
                                        >
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.favIconURL">Fav Icon</span>
                                </td>
                                <td>
                                    <span *ngIf="organization.mediaFavicon">
                                        <img
                                            src={{organization.mediaFavicon.sourceURL}}
                                            alt
                                            witrh="100"
                                            height="100"
                                        >
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.mobileIconURL">Mobile Icon</span>
                                </td>
                                <td>
                                    <span *ngIf="organization.mediaMobileIcon">
                                        <img
                                            src={{organization.mediaMobileIcon.sourceURL}}
                                            alt
                                            witrh="100"
                                            height="100"
                                        >
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.baiduVerificationCode">Baidu Verification Code</span>
                                </td>
                                <td>
                                    <span>{{organization.baiduVerificationCode}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.bingVerificationCode">Bing Verification Code</span>
                                </td>
                                <td>
                                    <span>{{organization.bingVerificationCode}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.googleVerificationCode">Google Verification Code</span>
                                </td>
                                <td>
                                    <span>{{organization.googleVerificationCode}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.yandexVerificationCode">Yandex Verification Code</span>
                                </td>
                                <td>
                                    <span>{{organization.yandexVerificationCode}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.facebookURL">Facebook URL</span>
                                </td>
                                <td>
                                    <span>{{organization.facebookURL}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.twitterURL">Twitter URL</span>
                                </td>
                                <td>
                                    <span>{{organization.twitterURL}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.instagramURL">Instagram URL</span>
                                </td>
                                <td>
                                    <span>{{organization.instagramURL}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.linkedInURL">Linked In URL</span>
                                </td>
                                <td>
                                    <span>{{organization.linkedInURL}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.pinterestURL">Pinterest URL</span>
                                </td>
                                <td>
                                    <span>{{organization.pinterestURL}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.youTubeURL">You Tube URL</span>
                                </td>
                                <td>
                                    <span>{{organization.youTubeURL}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.googlePlusURL">Google Plus URL</span>
                                </td>
                                <td>
                                    <span>{{organization.googlePlusURL}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.githubURL">Github URL</span>
                                </td>
                                <td>
                                    <span>{{organization.githubURL}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.facebookPageAccessToken">Facebook Page Access Token</span>
                                </td>
                                <td>
                                    <span>
                                        {{organization.facebookPageAccessToken}}
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.gaTrackingCode">Ga Tracking Code</span>
                                </td>
                                <td>
                                    <span>{{organization.gaTrackingCode}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.githubClientId">Github Client Id</span>
                                </td>
                                <td>
                                    <span>{{organization.githubClientId}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.githubClientSecret">Github Client Secret</span>
                                </td>
                                <td>
                                    <span>{{organization.githubClientSecret}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.twitterClientId">Twitter Client Id</span>
                                </td>
                                <td>
                                    <span>{{organization.twitterClientId}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.twitterClientSecret">Twitter Client Secret</span>
                                </td>
                                <td>
                                    <span>{{organization.twitterClientSecret}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.facebookClientId">Facebook Client Id</span>
                                </td>
                                <td>
                                    <span>{{organization.facebookClientId}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.facebookClientSecret">Facebook Client Secret</span>
                                </td>
                                <td>
                                    <span>{{organization.facebookClientSecret}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.googleClientId">Google Client Id</span>
                                </td>
                                <td>
                                    <span>{{organization.googleClientId}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.googleClientSecret">Google Client Secret</span>
                                </td>
                                <td>
                                    <span>{{organization.googleClientSecret}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.linkedInClientId">Linked In Client Id</span>
                                </td>
                                <td>
                                    <span>{{organization.linkedInClientId}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.linkedInClientSecret">Linked In Client Secret</span>
                                </td>
                                <td>
                                    <span>{{organization.linkedInClientSecret}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.instagramClientId">Instagram Client Id</span>
                                </td>
                                <td>
                                    <span>{{organization.instagramClientId}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.instagramClientSecret">Instagram Client Secret</span>
                                </td>
                                <td>
                                    <span>{{organization.instagramClientSecret}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.mailchimpAPIKey">Mailchimp API Key</span>
                                </td>
                                <td>
                                    <span>{{organization.mailchimpAPIKey}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.siteLanguage">Site Language</span>
                                </td>
                                <td>
                                    <span>{{organization.siteLanguage}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.timeZone">Time Zone</span>
                                </td>
                                <td>
                                    <span>{{organization.timeZone}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.clientId">Client Id</span>
                                </td>
                                <td>
                                    <span>{{organization.clientId}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.slug">Slug</span>
                                </td>
                                <td>
                                    <span>{{organization.slug}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.email">Email</span>
                                </td>
                                <td>
                                    <span>{{organization.email}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.createdDate">Created Date</span>
                                </td>
                                <td>
                                    <span>{{organization.createdDate}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.lastUpdatedDate">Last Updated Date</span>
                                </td>
                                <td>
                                    <span>{{organization.lastUpdatedDate}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.siteAddress">Site Atdress</span>
                                </td>
                                <td>
                                    <span>{{organization.siteAddress}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreOrganization.enableFactchecking">Enable Factchecking</span>
                                </td>
                                <td>
                                    <span>{{organization.enableFactchecking}}</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    <button
                        type="submit"
                        mat-raised-button
                        class="mr-2"
                        (click)="previousState()"
                    >
                        <fa-icon [icon]="'arrow-left'"></fa-icon>
                        &nbsp;
                        <span jhiTranslate="entity.action.back">Back</span>
                    </button>

                    <button
                        type="button"
                        mat-raised-button
                        color="primary"
                        [routerLink]="['/organization', organization.id, 'edit']"
                    >
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        &nbsp;
                        <span jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
