<form [formGroup]="factCheckEditFormGroup">
    <div class="row post-edit-view">
        <div class="sub-header">
            <div class="button-wrap">
                <button type="button" mat-button mat-raised-button
                        (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button mat-button mat-raised-button type="button"
                        (click)="saveOrPublish('Draft')"
                        [disabled]="isSaving"
                        *jhiHasAnyAuthority="['ROLE_SUPER_ADMIN','ROLE_ADMIN','ROLE_ADMINISTRATOR','ROLE_EDITOR','ROLE_AUTHOR']">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span
                    jhiTranslate="entity.action.savedraft">Save Draft</span>
                </button>
                <button type="button" mat-button mat-raised-button color="primary"
                        [disabled]="isSaving"
                        (click)="saveOrPublish('Publish')"
                        *jhiHasAnyAuthority="['ROLE_SUPER_ADMIN','ROLE_ADMIN','ROLE_ADMINISTRATOR','ROLE_EDITOR']">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span
                    jhiTranslate="entity.action.publish">Publish</span>
                </button>
            </div>
        </div>
        <div class="editor-wrap">
            <div class="form-group">
                <mat-form-field class="full-width">
                    <input class="title-input"
                           matInput
                           formControlName="title"
                           placeholder="Title of the Post">
                    <mat-error>
                        Title is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width margin-t-30" hintLabel="Max 400 characters">
                    <textarea matInput #input
                              formControlName="excerpt"
                              [cdkTextareaAutosize]="true"
                              placeholder="Excerpt"
                              maxlength="400">
                    </textarea>
                    <mat-hint align="end">{{input.value?.length || 0}}/400</mat-hint>
                </mat-form-field>
                <div class="quill-editor-wrapper">
                    <p class="editor-title">Introduction</p>
                    <jhi-quill-editor [original_content]="factcheck.introduction"
                                      (updated_content)="updateIntroductionFormData($event)">
                    </jhi-quill-editor>
                </div>
                <div class="full-width margin-t-30">
                    <p *ngIf="factCheckEditFormGroup.value.claims.length"> Selected Claims </p>
                    <div cdkDropList class="example-list col-md-12" (cdkDropListDropped)="reorderClaims($event)">
                        <div class="mb-3 example-box" *ngFor="let claim_details of factCheckEditFormGroup.value.claims"
                             cdkDrag>
                            <mat-accordion>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            <mat-icon class="mr-2">clear_all</mat-icon>
                                            <b>{{claim_details.claim}}</b>
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <p [innerHTML]="claim_details.description">
                                    </p>
                                    <mat-action-row>
                                        <button mat-button color="primary" type="button"
                                                (click)="openDialogPopUp(claim_details)">Edit
                                        </button>
                                        <button mat-button color="warn" type="button"
                                                (click)="removeClaimFromFactCheck(claim_details)">Delete
                                        </button>
                                    </mat-action-row>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                </div>
                <div class="quill-editor-wrapper">
                    <p class="editor-title">Summary</p>
                    <jhi-quill-editor [original_content]="factcheck.summary"
                                      (updated_content)="updateSummaryFormData($event)">
                    </jhi-quill-editor>
                </div>
            </div>

            <div class="col-4 edit-view-right-pannel">
                <div class="form-group">
                    <div class="full-width">
                        <button mat-raised-button color="primary" type="button" class="full-width"
                                (click)="choseMediaforFeature()">Upload Featured media
                            <mat-icon>cloud_upload</mat-icon>
                        </button>
                    </div>
                    <div class="col-md-12 margin-t-20" *ngIf="factCheckEditFormGroup.value.featuredMedia">
                        <div class="featured-img">
                            <img [src]='factCheckEditFormGroup.value.featuredMedia'>
                        </div>
                    </div>
                    <div class="full-width margin-t-20" *ngIf="factCheckEditFormGroup.value.featuredMedia">
                        <button mat-raised-button color="primary" type="button" class="full-width"
                                (click)="deleteMediaForFeature()"> Delete featured media
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-group">
                        <mat-accordion>
                            <mat-expansion-panel (opened)="true">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        Tag
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="input-buttons-wrap" *ngIf="tagListContainer">
                                    <mat-form-field>
                                        <input matInput
                                               [(ngModel)]="searchTagKeyword" [ngModelOptions]="{standalone: true}">
                                        <button mat-button *ngIf="searchTagKeyword" type="button"
                                                matSuffix mat-icon-button aria-label="Clear"
                                                (click)="searchTagKeyword='';getAllTags()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                    <button mat-icon-button type="button" (click)="searchTagCurrentPage=0;searchTags()">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                    <button mat-icon-button type="button" (click)="getAllTags()">
                                        <mat-icon>refresh</mat-icon>
                                    </button>
                                    <button mat-icon-button type="button"
                                            (click)="tagListContainer =! tagListContainer">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <div>
                                        <div>
                                            <jhi-multiple-checkbox id="field_tag"
                                                                   [option_list]="all_tag_options"
                                                                   [selected_options]="selected_tag_options"
                                                                   (updated_selection)="update_tag_selection($event)">
                                            </jhi-multiple-checkbox>
                                        </div>
                                        <button type="button"
                                                mat-icon-button
                                                mat-raised-button
                                                (click)="searchTagCurrentPage=searchTagCurrentPage-1;searchTags()"
                                                *ngIf="searchTagCurrentPage>0">
                                            <mat-icon>chevron_left</mat-icon>
                                        </button>
                                        <button type="button"
                                                mat-icon-button
                                                mat-raised-button
                                                (click)="searchTagCurrentPage=searchTagCurrentPage+1;searchTags()"
                                                *ngIf="searchTagTotalResult>((searchTagCurrentPage+1)*searchResultPerPage)">
                                            <mat-icon>chevron_right</mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="!tagListContainer">
                                    <form [formGroup]="tagFormGroup">
                                        <div>
                                            <mat-form-field class="full-width">
                                                <input type="text" name="name" id="field_name"
                                                       placeholder="Name"
                                                       matInput
                                                       formControlName="name" required/>
                                                <mat-error>
                                                    Name is <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div>
                                            <mat-form-field class="full-width" hintLabel="Max 400 characters">
                                                    <textarea matInput type="text" #input
                                                              id="field_description"
                                                              formControlName="description"
                                                              placeholder="Description"
                                                              maxlength="400">
                                                    </textarea>
                                                <mat-hint align="end">{{input.value?.length || 0}}/400</mat-hint>
                                            </mat-form-field>
                                        </div>
                                        <div class="mt-4">
                                            <button type="button" mat-button mat-raised-button color="warn"
                                                    id="cancel-save" class="btn btn-secondary"
                                                    (click)="tagListContainer = true">
                                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span
                                                jhiTranslate="entity.action.cancel">Cancel</span>
                                            </button>
                                            <button type="button" mat-button mat-raised-button
                                                    (click)="saveTag()"
                                                    id="save-entity" [disabled]="isSaving">
                                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span
                                                jhiTranslate="entity.action.save">Save</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class="form-group">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title jhiTranslate="gatewayApp.corePost.category">Category
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="input-buttons-wrap" *ngIf="categoryListContainer">
                                    <mat-form-field>
                                        <input matInput placeholder="Category" [(ngModel)]="searchCategoryKeyword"
                                               [ngModelOptions]="{standalone: true}">
                                        <button mat-button *ngIf="searchCategoryKeyword" type="button"
                                                matSuffix mat-icon-button aria-label="Clear"
                                                (click)="searchCategoryKeyword='';getAllCategories()">
                                            <mat-icon>close</mat-icon>
                                        </button>
                                    </mat-form-field>
                                    <button mat-button type="button" matSuffix mat-icon-button aria-label="Search"
                                            (click)="searchCategoryCurrentPage=0;searchCategories()">
                                        <mat-icon>search</mat-icon>
                                    </button>
                                    <button mat-icon-button type="button" (click)="getAllCategories()">
                                        <mat-icon>refresh</mat-icon>
                                    </button>
                                    <button mat-icon-button type="button"
                                            (click)="categoryListContainer =! categoryListContainer">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <div>
                                        <jhi-multiple-checkbox id="field_category"
                                                               [option_list]="all_category_options"
                                                               [selected_options]="selected_category_options"
                                                               (updated_selection)="update_category_selection($event)">
                                        </jhi-multiple-checkbox>
                                    </div>
                                    <button type="button"
                                            mat-icon-button
                                            mat-raised-button
                                            (click)="searchCategoryCurrentPage=searchCategoryCurrentPage-1;searchCategories()"
                                            *ngIf="searchCategoryCurrentPage>0">
                                        <mat-icon>chevron_left</mat-icon>
                                    </button>
                                    <button type="button"
                                            mat-icon-button
                                            mat-raised-button
                                            (click)="searchCategoryCurrentPage=searchCategoryCurrentPage+1;searchCategories()"
                                            *ngIf="searchCategoryTotalResult>((searchCategoryCurrentPage+1)*searchResultPerPage)">
                                        <mat-icon>chevron_right</mat-icon>
                                    </button>
                                </div>
                                <div *ngIf="!categoryListContainer">
                                    <form [formGroup]="categoryFormGroup">
                                        <div class="form-group">
                                            <mat-form-field class="w-100">
                                                <input matInput type="text"
                                                       name="name"
                                                       formControlName="name"
                                                       id="field_name"
                                                       placeholder="{{'gatewayApp.coreCategory.name' | translate}}"
                                                       required/>
                                                <mat-error>
                                                    Name id <strong>required</strong>
                                                </mat-error>
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group">
                                            <mat-form-field class="w-100">
                                                <textarea matInput rows="5" type="text"
                                                          formControlName="description"
                                                          name="description"
                                                          id="field_description"
                                                          placeholder="{{'gatewayApp.coreCategory.description' | translate}}">

                                                </textarea>
                                            </mat-form-field>
                                        </div>
                                        <div class="form-group">
                                            <mat-form-field class="w-100">
                                                <input matInput type="text"
                                                       formControlName="parent"
                                                       name="parent"
                                                       id="field_parent"
                                                       placeholder="{{'gatewayApp.coreCategory.parent' | translate}}">
                                            </mat-form-field>
                                        </div>
                                        <div class="d-flex justify-content-end">
                                            <button mat-raised-button color="warn" class="mr-3" type="button"
                                                    id="cancel-save" (click)="categoryListContainer = true">
                                                <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span
                                                jhiTranslate="entity.action.cancel">Cancel</span>
                                            </button>
                                            <button mat-raised-button (click)="saveCategory()"
                                                    type="submit" id="save-entity" [disabled]="isSaving">
                                                <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span
                                                jhiTranslate="entity.action.save">Save</span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>

                    </div>
                    <div class="form-group">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-pannel-title jhiTranslate="gatewayApp.corePost.degaUser">Author
                                    </mat-pannel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field>
                                    <input matInput
                                           [(ngModel)]="searchDegaUserKeyword"
                                           [ngModelOptions]="{standalone: true}">
                                    <button mat-button *ngIf="searchDegaUserKeyword" type="button"
                                            matSuffix mat-icon-button aria-label="Clear"
                                            (click)="searchDegaUserKeyword='';getAllDegaUsers()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                                <button type="button" mat-icon-button
                                        (click)="searchDegaUserCurrentPage=0;searchDegaUsers()">
                                    <mat-icon>search</mat-icon>
                                </button>
                                <button mat-icon-button type="button" (click)="getAllDegaUsers()">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                                <div>
                                    <jhi-multiple-checkbox id="field_degaUser"
                                                           [option_list]="all_author_options"
                                                           [selected_options]="selected_author_options"
                                                           (updated_selection)="update_author_selection($event)">
                                    </jhi-multiple-checkbox>
                                </div>
                                <button type="button"
                                        mat-icon-button
                                        mat-raised-button
                                        (click)="searchDegaUserCurrentPage=searchDegaUserCurrentPage-1;searchDegaUsers()"
                                        *ngIf="searchDegaUserCurrentPage>0">
                                    <mat-icon>chevron_left</mat-icon>
                                </button>
                                <button type="button"
                                        mat-icon-button
                                        mat-raised-button
                                        (click)="searchDegaUserCurrentPage=searchDegaUserCurrentPage+1;searchDegaUsers()"
                                        *ngIf="searchDegaUserTotalResult>((searchDegaUserCurrentPage+1)*searchResultPerPage)">
                                    <mat-icon>chevron_right</mat-icon>
                                </button>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class="form-group">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>Updates</mat-panel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field class="full-width">
                                    <textarea matInput
                                              formControlName="updates"
                                              [cdkTextareaAutosize]="true"
                                              placeholder="Updates">
                                    </textarea>
                                </mat-form-field>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                    <div class="full-width form-group">
                        <div class="col-md-12 margin-t-20">
                            <span>Featured</span>
                            <mat-slide-toggle class="float-right"
                                              [color]="'primary'"
                                              formControlName="featured">
                            </mat-slide-toggle>
                        </div>
                        <div class="col-md-12 margin-t-20">
                            <span>Sticky</span>
                            <mat-slide-toggle class="float-right"
                                              [color]="'primary'"
                                              formControlName="sticky">
                            </mat-slide-toggle>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="this.factCheckEditFormGroup.value.id">
                        <mat-form-field class="full-width">
                            <input matInput
                                   formControlName="slug"
                                   placeholder="URL slug">
                            <mat-error>
                                Slug is <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-pannel-title jhiTranslate="gatewayApp.factcheckFactcheck.claim">Claims
                                    </mat-pannel-title>
                                </mat-expansion-panel-header>
                                <mat-form-field>
                                    <input matInput
                                           [(ngModel)]="searchClaimKeyword"
                                           [ngModelOptions]="{standalone: true}">
                                    <button mat-button *ngIf="searchClaimKeyword" type="button"
                                            matSuffix mat-icon-button aria-label="Clear"
                                            (click)="searchClaimKeyword='';getAllClaims()">
                                        <mat-icon>close</mat-icon>
                                    </button>
                                </mat-form-field>
                                <button type="button" mat-icon-button
                                        (click)="searchDegaUserCurrentPage=0;searchClaims()">
                                    <mat-icon>search</mat-icon>
                                </button>
                                <button mat-icon-button type="button" (click)="getAllClaims()">
                                    <mat-icon>refresh</mat-icon>
                                </button>
                                <div class="mb-3" *ngFor="let claim_details of all_claim_options">
                                    <button class="mr-2" mat-icon-button mat-raised-button color="primary"
                                            (click)="addClaimToFactcheck(claim_details)">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                    <span>{{claim_details.claim}}</span>
                                </div>
                                <button type="button"
                                        mat-icon-button
                                        mat-raised-button
                                        (click)="searchClaimCurrentPage=searchClaimCurrentPage-1;searchDegaUsers()"
                                        *ngIf="searchClaimCurrentPage>0">
                                    <mat-icon>chevron_left</mat-icon>
                                </button>
                                <button type="button"
                                        mat-icon-button
                                        mat-raised-button
                                        (click)="searchClaimCurrentPage=searchClaimCurrentPage+1;searchClaims()"
                                        *ngIf="searchClaimTotalResult>((searchClaimCurrentPage+1)*searchResultPerPage)">
                                    <mat-icon>chevron_right</mat-icon>
                                </button>
                                <div class="pad-up-bottom">
                                    <button mat-raised-button color="primary"
                                            type="button" id="add-pop-claim" class="btn btn-success"
                                            (click)="openDialogPopUp()">
                                        <mat-icon>add</mat-icon>
                                        Add a New Claim
                                    </button>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>
