<div class="p-2">
    <div class="row mt-5">
        <div class="col-md-5">
            <h2 id="left-border page-heading">
                <span jhiTranslate="gatewayApp.factcheckFactcheck.home.title">Factchecks</span>
            </h2>
        </div>
        <div class="col-md-7">
            <form name="searchForm" class="d-flex align-content-center justify-content-end">
                <mat-form-field>
                    <input type="text" matInput
                           [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.factcheckFactcheck.home.search' | translate }}">
                </mat-form-field>
                <button mat-raised-button mat-icon-button (click)="search(currentSearch)" class="mr-2">
                    <fa-icon [icon]="'search'"></fa-icon>
                </button>
                <button mat-raised-button mat-icon-button color="warn" class="mr-3" (click)="clear()" *ngIf="currentSearch">
                    <fa-icon [icon]="'trash-alt'"></fa-icon>
                </button>
                <div>
                    <button id="jh-create-entity" mat-raised-button color="primary" [routerLink]="['/factcheck/new']">
                        <fa-icon [icon]="'plus'"></fa-icon>
                        <span class="hidden-sm-down"  jhiTranslate="gatewayApp.factcheckFactcheck.home.createLabel">Create new Factcheck</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="custom-list-view" *ngIf="factchecks">
        <div class="acttion-bar-wrap"></div>
        <div class="content-block-wrap">
            <div class="content-block" *ngFor="let factcheck of factchecks ;trackBy: trackId">
                <div *ngIf="factcheck.mediaDTO" class="image-wrap" [style.backgroundImage]="'url('+ factcheck.mediaDTO.url +')'">
                </div>
                <div class="main-content">
                    <div><h2 [routerLink]="['/factcheck', factcheck.id, 'view' ]">{{factcheck.title}}</h2></div>
                    <div><p>{{factcheck.excerpt}}</p></div>
                </div>
                <div class="other-detail">
                    <div class="author-details-wrap">
                        <div class="author-details-text">
                            <p class="created-by"><i>Created By</i></p>
                            <p class="author-name"><span *ngFor="let author of factcheck.degaUsers; index as i">{{factcheck.firstName}} {{i != factcheck.degaUsers.length -1 ?  '| ': ''}}</span>
                            </p>
                            <p class="status"><span class="created-by">Status: </span>{{factcheck.statusName}}</p>
                        </div>
                    </div>
                    <div class="actions-wrap">
                        <div>
                            <p class="created-at">{{factcheck.createdDate | date:'medium'}}</p>
                        </div>
                        <div class="actions">
                            <div>
                                <span matTooltip="View Factcheck"
                                      [matTooltipPosition]="'above'">
                                        <fa-icon [icon]="'eye'"
                                                 [routerLink]="['/factcheck', factcheck.id, 'view' ]">
                                        </fa-icon>
                                </span>
                            </div>
                            <div>
                                <span matTooltip="Edit Factcheck"
                                      [matTooltipPosition]="'above'">
                                    <fa-icon [icon]="'pencil-alt'"
                                             [routerLink]="['/factcheck', factcheck.id, 'edit']">
                                    </fa-icon>
                                </span>
                            </div>
                            <div>
                                <span (click)="openDialogPopUp(factcheck)">
                                    <fa-icon [icon]="'times'">
                                    </fa-icon>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="factchecks && factchecks.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
