<div class="create-view-page p-2">
    <div class="row shadow">
        <div class="col-md-12">
            <h2 id="jhi-category-heading" jhiTranslate="gatewayApp.coreCategory.home.createOrEditLabel">Create or edit a Category</h2>
        </div>
        <div class="col-md-12 mt-5">
            <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
                <div>
                    <jhi-alert-error></jhi-alert-error>
                    <!--<div class="form-group" [hidden]="!category.id">-->
                    <!--<label for="id" jhiTranslate="global.field.id">ID</label>-->
                    <!--<input type="text" class="form-control" id="id" name="id"-->
                    <!--[(ngModel)]="category.id" readonly />-->
                    <!--</div>-->
                    <div class="form-group">
                        <!--<label class="form-control-label" jhiTranslate="gatewayApp.coreCategory.name" for="field_name">Name</label>-->
                        <mat-form-field class="w-100">
                            <input matInput placeholder="{{'gatewayApp.coreCategory.name' | translate }}"
                                   type="text" name="name" id="field_name"
                                   [(ngModel)]="category.name" required/>
                        </mat-form-field>
                        <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                            <small class="form-text text-danger"
                                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                                This field is required.
                            </small>
                        </div>
                    </div>
                    <div class="form-group">
                        <!--<label class="form-control-label" jhiTranslate="gatewayApp.coreCategory.description" for="field_description">Description</label>-->
                        <mat-form-field class="w-100">
                            <textarea matInput placeholder="{{'gatewayApp.coreCategory.description' | translate}}"
                                rows="5" type="text" name="description" id="field_description"
                                      [(ngModel)]="category.description" ></textarea>
                        </mat-form-field>
                    </div>
                    <!-- <div class="form-group">
                         <label class="form-control-label" jhiTranslate="gatewayApp.coreCategory.slug" for="field_slug">Slug</label>
                         <input type="text" class="form-control" name="slug" id="field_slug"
                             [(ngModel)]="category.slug" required/>
                         <div [hidden]="!(editForm.controls.slug?.dirty && editForm.controls.slug?.invalid)">
                             <small class="form-text text-danger"
                             [hidden]="!editForm.controls.slug?.errors?.required" jhiTranslate="entity.validation.required">
                             This field is required.
                             </small>
                         </div>
                     </div>-->
                    <div class="form-group">
                        <!--<label class="form-control-label" jhiTranslate="gatewayApp.coreCategory.parent" for="field_parent">Parent</label>-->
                        <mat-form-field class="w-100">
                            <input matInput placeholder="{{'gatewayApp.coreCategory.parent' | translate}}"
                                type="text" name="parent" id="field_parent"
                                   [(ngModel)]="category.parent" />
                        </mat-form-field>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button mat-raised-button color="warn" class="mr-3"
                            type="button" id="cancel-save"  (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                        </button>
                        <button mat-raised-button
                            type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                        </button>
                    </div>
            </form>
        </div>
    </div>
</div>
