<div class="table-view-page claim-search p-2">
    <div class="row mt-5">
        <div class="col-md-5">
            <h2 id="page-heading font-sz-20">
                <span>Search Claims</span>
            </h2>
        </div>
    </div>
    <jhi-alert></jhi-alert>
    <div class="row mt-5">
        <div class="col-md-12">
            <form name="searchForm" class="d-flex align-content-center justify-content-center">
                <mat-form-field class="col-5">
                    <input matInput
                           type="text" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'gatewayApp.factcheckClaim.home.search' | translate }}">
                </mat-form-field>
                <button mat-icon-button mat-raised-button  class="mr-2" (click)="search()">
                    <mat-icon>search</mat-icon>
                </button>
            </form>
        </div>
    </div>
    <div class="row claim-wrap">
        <div class="claim col-md-8" *ngFor="let claimDetails of claimsSearchResult">
            <div class="d-flex"><p class="claimed-by">Claim by {{claimDetails.claimant}}</p></div>
            <div><p class="claim-text">{{claimDetails.text}}</p></div>
            <div class="claim-date"><p>{{claimDetails.claimDate | date:'medium'}}</p></div>
            <div class="review" *ngFor="let claimReview of claimDetails.claimReview">
                <div class="rating">
                    <p><span>{{claimReview.publisher.name}}</span> <span> rating :</span> <span>{{claimReview.textualRating}}</span></p>
                </div>
                <div class="title">
                    <a target="_blank" [href]="claimReview.url">{{claimReview.title}}</a>
                </div>
                <div class="review-date">
                    <p>Review Date: {{claimReview.reviewDate | date:'medium'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
