<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="media">
            <h2><span jhiTranslate="gatewayApp.coreMedia.detail.title">Media</span> {{media.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="gatewayApp.coreMedia.name">Name</span></dt>
                <dd>
                    <span>{{media.name}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.coreMedia.type">Type</span></dt>
                <dd>
                    <span>{{media.type}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.coreMedia.url">Url</span></dt>
                <dd>
                    <span><img src={{media.sourceURL}} alt="" width="100" height="100"></span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.coreMedia.fileSize">File Size</span></dt>
                <dd>
                    <span>{{media.fileSize | degafilesize}}</span>
                </dd>
                
                <dt><span jhiTranslate="gatewayApp.coreMedia.dimensions">Dimensions</span></dt>
                <dd>
                    <span>{{media.dimensions}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.coreMedia.title">Title</span></dt>
                <dd>
                    <span>{{media.title}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.coreMedia.caption">Caption</span></dt>
                <dd>
                    <span>{{media.caption}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.coreMedia.altText">Alt Text</span></dt>
                <dd>
                    <span>{{media.altText}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.coreMedia.description">Description</span></dt>
                <dd>
                    <span>{{media.description}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.coreMedia.uploadedBy">Uploaded By</span></dt>
                <dd>
                    <span>{{media.uploadedBy}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.coreMedia.publishedDate">Published Date</span></dt>
                <dd>
                    <span>{{media.publishedDate}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.coreMedia.lastUpdatedDate">Last Updated Date</span></dt>
                <dd>
                    <span>{{media.lastUpdatedDate}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.coreMedia.slug">Slug</span></dt>
                <dd>
                    <span>{{media.slug}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.coreMedia.clientId">Client Id</span></dt>
                <dd>
                    <span>{{media.clientId}}</span>
                </dd>
                <dt><span jhiTranslate="gatewayApp.coreMedia.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{media.createdDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/media', media.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
