<div class="detail-view-page">
    <div class="row justify-content-center">
        <div class="col-12">
            <div *ngIf="degaUser">
                <h2>
                    <span jhiTranslate="gatewayApp.coreDegaUser.detail.title">Dega User</span>
                </h2>
                <jhi-alert-error></jhi-alert-error>
                <div class="table-wrap">
                    <table class="row-md jh-entity-details">
                        <tbody>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.firstName">First Name</span>
                                </td>
                                <td>
                                    <span>{{degaUser.firstName}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.lastName">Last Name</span>
                                </td>
                                <td>
                                    <span>{{degaUser.lastName}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.displayName">Display Name</span>
                                </td>
                                <td>
                                    <span>{{degaUser.displayName}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.website">Website</span>
                                </td>
                                <td>
                                    <span>{{degaUser.website}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.facebookURL">Facebook URL</span>
                                </td>
                                <td>
                                    <span>{{degaUser.facebookURL}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.twitterURL">Twitter URL</span>
                                </td>
                                <td>
                                    <span>{{degaUser.twitterURL}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.instagramURL">Instagram URL</span>
                                </td>
                                <td>
                                    <span>{{degaUser.instagramURL}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.linkedinURL">Linkedin URL</span>
                                </td>
                                <td>
                                    <span>{{degaUser.linkedinURL}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.githubURL">Github URL</span>
                                </td>
                                <td>
                                    <span>{{degaUser.githubURL}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.profilePicture">Profile Picture</span>
                                </td>
                                <td>
                                    <span>
                                        <img
                                            *ngIf="degaUser.media"
                                            src={{degaUser.media.sourceURL}}
                                            alt
                                            witrh="100"
                                            height="100"
                                        >
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.description">Description</span>
                                </td>
                                <td>
                                    <span>{{degaUser.description}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.slug">Slug</span>
                                </td>
                                <td>
                                    <span>{{degaUser.slug}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.enabled">Enabled</span>
                                </td>
                                <td>
                                    <span>{{degaUser.enabled}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.emailVerified">Email Verified</span>
                                </td>
                                <td>
                                    <span>{{degaUser.emailVerified}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.email">Email</span>
                                </td>
                                <td>
                                    <span>{{degaUser.email}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.createdDate">Created Date</span>
                                </td>
                                <td>
                                    <span>{{degaUser.createdDate}}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.role">Role</span>
                                </td>
                                <td>
                                    <div *ngIf="degaUser.roleId">
                                        <a [routerLink]="['/role', degaUser.roleId, 'view']">{{degaUser.roleName}}</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.organizationDefault">Organization Default</span>
                                </td>
                                <td>
                                    <div *ngIf="degaUser.organizationDefaultId">
                                        <a [routerLink]="['/organization', degaUser.organizationDefaultId, 'view']">{{degaUser.organizationDefaultName}}</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.organizationCurrent">Organization Current</span>
                                </td>
                                <td>
                                    <div *ngIf="degaUser.organizationCurrentId">
                                        <a [routerLink]="['/organization', degaUser.organizationCurrentId, 'view']">{{degaUser.organizationCurrentName}}</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <span jhiTranslate="gatewayApp.coreDegaUser.roleMapping">Role Mapping</span>
                                </td>
                                <td>
                                    <span *ngFor="let roleMapping of degaUser.roleMappings; let last = last">
                                        <a [routerLink]="['/role-mapping', roleMapping?.id, 'view' ]">{{roleMapping.name}}</a>
                                        {{last ? '' : ', '}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    <button
                        type="submit"
                        mat-raised-button
                        class="mr-2"
                        (click)="previousState()"
                    >
                        <fa-icon [icon]="'arrow-left'"></fa-icon>
                        &nbsp;
                        <span jhiTranslate="entity.action.back">Back</span>
                    </button>

                    <button
                        type="button"
                        mat-raised-button
                        color="primary"
                        [routerLink]="['/dega-user', degaUser.id, 'edit']"
                    >
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>
                        &nbsp;
                        <span jhiTranslate="entity.action.edit">Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
