@import 'bootstrap-variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
    font-weight: 300;
}

a {
    color: #73818f;
    font-weight: bold;
}

a:hover {
    color: #533f03;
    font-weight: bold;
    /* make sure browsers use the pointer cursor for anchors, even with no href */
    cursor: pointer;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */
/* other generic styles */

.jh-card {
    margin-top: 20px;
    border: none;
    background: none;
}

.error {
    color: white;
    background-color: red;
}

.white-bc {
    background-color: white;
}
.white {
    color: white;
}

.pad {
    padding: 10px;
}

.pad-left {
    padding-left: 80px;
}

.pad-up-bottom {
    padding: 10px 0px;
}

.w-40 {
    width: 40% !important;
}

.w-60 {
    width: 60% !important;
}
margin-20 {
    margin: 20px;
}
.margin-t-20 {
    margin-top: 20px;
}

.margin-t-30 {
    margin-top: 30px;
}
.margin-b-30 {
    margin-bottom: 30px;
}

.margin-r-10 {
    margin-right: 10px;
}

.padding-20 {
    padding: 20px;
}
.padding-0-20 {
    padding: 0 20px;
}

.padding-40-0 {
    padding: 40px 0;
}

.font-sz-20 {
    font-size: 20px;
}

.full-width {
    width: 100%;
}

.box-shadow-2 {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}
.box-shadow-5 {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.shadow-table {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.action-button-container {
    display: flex;
    justify-content: flex-start;
    > div {
        margin: 0 10px;
    }
    > div:first-child {
        margin-left: 0px;
    }
    > div:last-child {
        margin-right: 0px;
    }
}

.alternate-color {
    tr:nth-child(even) {
        background-color: rgba(242, 242, 242, 0.5);
    }
}

.break {
    white-space: normal;
    word-break: break-all;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

.footer {
}

.hand,
[jhisortby] {
    cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
    .alert {
        text-overflow: ellipsis;
        pre {
            background: none;
            border: none;
            font: inherit;
            color: inherit;
            padding: 0;
            margin: 0;
        }
        .popover pre {
            font-size: 10px;
        }
    }
    .toast {
        position: fixed;
        width: 100%;
        &.left {
            left: 5px;
        }
        &.right {
            right: 5px;
        }
        &.top {
            top: 55px;
        }
        &.bottom {
            bottom: 55px;
        }
    }
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */

/* Remove Bootstrap padding from the element
http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
@mixin no-padding($side) {
    @if $side == 'all' {
        .no-padding {
            padding: 0 !important;
        }
    } @else {
        .no-padding-#{$side} {
            padding-#{$side}: 0 !important;
        }
    }
}
@include no-padding('left');
@include no-padding('right');
@include no-padding('top');
@include no-padding('bottom');
@include no-padding('all');

/* bootstrap 3 input-group 100% width
http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
    dd {
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > {
        dt {
            margin-bottom: 15px;
        }
        dd {
            border-bottom: 1px solid #eee;
            padding-left: 180px;
            margin-left: 0;
        }
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

.thread-dump-modal-lock {
    max-width: 450px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.modal.show .modal-dialog {
    max-width: 100%;
    margin: 1rem;
}

.img-bottom {
    margin-bottom: 1rem;
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

/* Angular material css starts */

@import '~@angular/material/theming';
@include mat-core();

// Use the desired palette
$palette: mat-palette($mat-indigo);
// Create the theme
$theme: mat-light-theme($palette, $palette);

// Include component specific mixin
@include mat-dialog-theme($theme);
@include mat-checkbox-theme($theme);
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
/* Angular material css ends */

/* Quill Editor CSS starts */

.ql-editor {
    min-height: 400px;
}

/* Quill Editor CSS ends */

/* Table view page layout*/
.table-view-page {
    h2 {
        margin-top: 2rem;
    }
    table {
        .action-column {
            width: 140px;
        }
    }
}
