/* Theme Color */
$primary: #607d8b;
$primary-light: #8eacbb;
$primary-dark: #34515e;

$secondary: #ff8a65;
$secondary-light: #ffbb93;
$secondary-dark: #c75b39;

/* Font Size */
$xs-sm-font: 10px;

/* Font Color */
$grey-font-color: #9e9e9e;

/* Shadow */
$shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;

/* Hyper Link */
$hyper-link-color: #4083f3;
