<div class="detail-view-page">
    <div class="row justify-content-center">
        <div class="col-12">
            <div *ngIf="claim">
                <h2><span jhiTranslate="gatewayApp.factcheckClaim.detail.title">Claim</span></h2>
                <jhi-alert-error></jhi-alert-error>
                <div class="table-wrap">
                    <table class="row-md jh-entity-details">
                        <tr>
                            <td><span>Claim Id</span></td>
                            <td><span>{{claim.id}}</span></td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="gatewayApp.factcheckClaim.claim">Claim</span></td>
                            <td>
                                <span>{{claim.claim}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="gatewayApp.factcheckClaim.description">Description</span></td>
                            <td>
                                <span [innerHtml]="claim.description"></span>
                            </td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="gatewayApp.factcheckClaim.claimDate">Claim Date</span></td>
                            <td>
                                <span>{{claim.claimDate}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="gatewayApp.factcheckClaim.claimSource">Claim Source</span></td>
                            <td>
                                <span>{{claim.claimSource}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="gatewayApp.factcheckClaim.checkedDate">Checked Date</span></td>
                            <td>
                                <span>{{claim.checkedDate}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="gatewayApp.factcheckClaim.reviewSources">Review Sources</span></td>
                            <td>
                                <span>{{claim.reviewSources}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="gatewayApp.factcheckClaim.review">Review</span></td>
                            <td>
                                <span>{{claim.review}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="gatewayApp.factcheckClaim.reviewTagLine">Review Tag Line</span></td>
                            <td>
                                <span>{{claim.reviewTagLine}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="gatewayApp.factcheckClaim.clientId">Client Id</span></td>
                            <td>
                                <span>{{claim.clientId}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="gatewayApp.factcheckClaim.slug">Slug</span></td>
                            <td>
                                <span>{{claim.slug}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="gatewayApp.factcheckClaim.createdDate">Created Date</span></td>
                            <td>
                                <span>{{claim.createdDate | date:'medium'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="gatewayApp.factcheckClaim.lastUpdatedDate">Last Updated Date</span></td>
                            <td>
                                <span>{{claim.lastUpdatedDate | date:'medium'}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="gatewayApp.factcheckClaim.rating">Rating</span></td>
                            <td>
                                <div *ngIf="claim.ratingId">
                                    <a [routerLink]="['/rating', claim.ratingId, 'view']">{{claim.ratingName}}</a>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><span jhiTranslate="gatewayApp.factcheckClaim.claimant">Claimant</span></td>
                            <td>
                                <div *ngIf="claim.claimantId">
                                    <a [routerLink]="['/claimant', claim.claimantId, 'view']">{{claim.claimantName}}</a>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" mat-raised-button class="mr-2"
                            (click)="previousState()">
                        <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
                    </button>
                    <button type="button" mat-raised-button color="primary"
                            [routerLink]="['/claim', claim.id, 'edit']">
                        <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
